h1{
    color:rgb(45, 130, 122);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}


img{
    width: 20%;
    padding: 20px
}

ul{
    list-style: None;
    padding: 0px;
    display: flex;
}

li{
    margin-right: 5%;
}

.middle-content{
    margin-top: 50px;
    display: flex;
    padding: 20px
}

.column{
    margin-right: 3%;
    color: green
}

.top-content{
    padding: 20px
}

footer{
    text-align: center;
}

#middle-column{
    color:red
}

body{
    background-color: bisque;
}

canvas{
    display:block;
    margin-left:auto;
    margin-right:auto;


}